<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Panucci's Pizza</title>
		<link rel="stylesheet" href="/styles.css">
	</head>
	<body>

		<div class="title">
			<div><img src="/images/logo.jpg" class="thumbnail"></div>
			<h2>Panucci's Pizza</h2>
		</div>

		<form th:object="${pizza}" method="post" th:action="@{/handleOrder}">
			<div>
				<h2>Select a pizza</h2>
				<table>
					<tr>
						<td>
							<div>
								<img src="/images/Bella.png" class="pizza">
							</div>
							<!-- <p style="color:red" th:errors="*{pizza.pizzaType}"></p> -->
							<div>
								<input type="radio" name="pizza" th:value="bellaa"> Bella
							</div>
						</td>
						<td>
							<div>
								<img src="/images/Margherita.png" class="pizza">
							</div>
							<div>
								<input type="radio" name="pizza" th:value="margherita"> Margherita
							</div>
						</td>
						<td>
							<div>
								<img src="/images/Marinara.png" class="pizza">
							</div>
							<div>
								<input type="radio" name="pizza" th:value="marinara"> Marinara
							</div>
						</td>
						<td>
							<div>
								<img src="/images/SpianataCalabrese.png" class="pizza">
							</div>
							<div>
								<input type="radio" name="pizza" th:value="spianatacalabrese"> Spianata Calabrese
							</div>
						</td>
						<td>
							<div>
								<img src="/images/TrioFormaggio.png" class="pizza">
							</div>
							<div>
								<input type="radio" name="pizza" th:value="trioformaggio"> Trio Formaggio
							</div>
						</td>
					</tr>
					<tr>
						<td>Size:</td>
						<td>
							<p style="color:red" th:errors="*{size}"></p>
							<select name="size" th:field="*{size}">
								<option value="sm">Small</option>
								<option value="md">Medium</option>
								<option value="lg">Large</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>Quantity:</td>
						<td>
							<p style="color:red" th:errors="*{quantity}"></p>
							<input type="number" name="quantity" th:field="*{quantity}"> 
						</td>
					</tr>
					<tr>
						<td></td>
						<td>
							<button type="submit">Next</button>
						</td>
					</tr>
				</table>
			</div>
		</form>
		
	</body>
</html>
